.image__wrapper {
  margin-bottom: 30px;
  cursor: pointer;
  transition: 0.1s;
  position: relative;

  @media screen and (max-width: 1360px) {
    margin-bottom: 20px;
  }

  @media screen and (max-width: 500px) {
    margin-bottom: 10px;
  }

  .image {
    width: 100%;
  }

  .image-photographer {
    display: none;
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;
    z-index: 100;
    font-size: 18px;
  }

  .download__wrapper {
    height: 40px;
    width: 40px;
    position: absolute;
    bottom: 20px;
    right: 20px;
    border-radius: 10px;
    display: none;
    align-items: center;
    justify-content: center;
    background-color: white;

    @media screen and (max-width: 650px) {
      display: flex;
      background-color: inherit;
      bottom: 10px;
      right: 10px;
    }

    &:hover {
      opacity: 0.9;
    }

    svg {
      width: 26px;
      height: 26px;

      path {
        @media screen and (max-width: 650px) {
          fill: white;
        }
      }
    }
  }

  .like__wrapper {
    height: 40px;
    width: 40px;
    position: absolute;
    top: 20px;
    right: 20px;
    border-radius: 10px;
    display: none;
    align-items: center;
    justify-content: center;
    background-color: white;

    &.visible {
      display: flex;
    }

    &:hover {
      opacity: 0.9;
    }

    img {
      width: 26px;
      height: 26px;
    }
  }

  &:hover {
    .image {
      filter: brightness(70%);
    }

    .image-photographer {
      display: inline;
      filter: none;

      @media screen and (max-width: 650px) {
        display: none;
      }
    }

    .download__wrapper {
      display: flex;
    }

    .like__wrapper {
      display: flex;
    }

    @media screen and (max-width: 650px) {
      .like__wrapper {
        display: none;
      }
    }
  }
}
