.dd-wrapper {
  position: relative;
  min-width: 300px;
  border: 1px solid #dfdfe0;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  height: 50px;
  display: flex;
  align-items: center;
  transition: 0.2s;

  @media screen and (max-width: 340px) {
    min-width: 260px;
  }

  svg path {
    transition: 0.2s;
  }

  &:hover {
    border-color: #7F7F7F;

    svg path {
      stroke: #7D7D7D;
    }
  }

  .dd-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;

    .dd-header__icon {
      transform: rotate(0deg);
      transition: transform 0.2s ease;
  
      &.open {
        transform: rotate(180deg);
      }
    }
  }

  .dd-list {
    position: absolute;
    left: 0;
    top: 55px;
    z-index: 1;
    background-color: white;
    width: 100%;
    border-radius: 6px;
    border: 1px solid #dfdfe0;
    overflow: hidden;
    
    &-item {
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 10px 0 20px;

      &:hover {
        background-color: #F7F7F7;
      }
    }
  }
}
